html  
  head
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    title= title
  body
  h1=title
  div.grid
    each image in images
      div#gallery-item
          img(src=image)
          br
          a(href=image) 
          caption https://cams.mtnfeed.com/#{image}
