html  
  head
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    title= title
  body
    h1=title
    div.grid
      each image in imageObject
        div#gallery-item  
          img(src=image['imageURL'] width='300' height='169')
          br
          h4 #{image['name']}
          div#link 
            a(href=image['imageURL'] target="_blank") Thumbnail
            span  / 
            a(href=image['fullsizeURL'] target="_blank") Full Size
            p Last updated: #{image['lastUpdated']} MT
    div
      a(href='stats/weather_stats.html') Weather Stats 
      | 
      a(href='stats/snow_stats.html') Snow  Stats