html  
  head
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    title= title
  body
  h1=title
  div.grid
    each image in imageObject
      div#gallery-item
          img(src=image['imageURL'])
          br
          div#link 
            a(href=image['imageURL'] target="_blank") https://cams.mtnfeed.com/#{image['imageURL']}
            p Last updated: #{image['timeStamp']} MT

  
